/* проверка скролла
* {
    outline: solid 1px red !important;
} */

                            /* header */
.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 18px;
  padding-top: 93px;
  padding-bottom: 93px;
}

.menu {
  padding-left: 50px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__menu {
  padding-bottom: 5.1px;
}

.link-active {
  list-style: none;
  text-decoration: none; 
}

.header__logo {
  width: 135px;
  height: 108px;
}

.contacts {
  padding-left: 194px;
  padding-bottom: 5px;
}

.address_item {
  list-style-type: none;
  font-style: normal;
  line-height: 1.3;
}

.list_contacts_underline {
  text-decoration: none; 
  border-bottom: 1px black solid;
}


                            /* 1 секция */
.cover {
  position: relative;
  background: url("../images/cover.jpg") no-repeat center / cover;
  width: 1100px;
  min-height: 757px;
  z-index: 0;
}

.cover_block {
  display: block;
  padding-top: 50px;
}

.overlay::after {
  /* затемнение фона */
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 30px;
  color: white;
  font-size: 100px;
  text-transform: uppercase;
  padding-top: 65px;
}

.cover__word_position-left {
  display: block;
  padding-left: 50px;
  padding-top: 115px;
}

.cover__word_position-center {
  display: block;
  padding-top: 16px;
  padding-left: 380.5px;
}

.cover__word_position-right {
  display: block;
  padding-top: 17px;
  padding-left: 663px;
}

.description {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  width: 1050px;
  padding-top: 105px;
  padding-left: 50px;
  text-transform: uppercase;
  color: white;
  display: grid;
  grid-template-columns: auto auto;
}

.text_description {
  text-transform: uppercase;
  color: #ffffff;
  word-spacing: 19.5px;
  font-size: 22px;
  
}

.text_description-div {
  padding-top: 13px;  
}


.button_section {
  color: white;
  padding-left: 31px;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 11px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 22px;
  text-align: center;
}
.button_section-div {
  justify-self: end;
}

                            /* 2 секция */
.lots {
  width: 1052px;
  padding-top: 180px;
  margin: 0 auto;
}

.lots__heading {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: 40px;
  padding-left: 40px;
  padding-bottom: 27px;
  text-transform: uppercase;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 334px); /* 3 колонки */
  gap: 25px;
  position: relative;
  z-index: 0;
}

.card-style {
  position: relative;
  width: 334px;
  min-height: 596px;
  z-index: 0;
  background: no-repeat center / cover;
}

.lots__card-list {
  list-style-type: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__card-list_article {
  position: relative;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
  margin-right: 40px;
  color: white;
   display: flex;
  flex-direction: column;
}

.card__title {
  width: 254px;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.card__text {
  display: flex; 
  justify-content: flex-end;
  line-height: 1.2;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  width: 254px;
  margin-top: auto;
}

.lots__look-more-link_div {
  padding-left: 39px;
  padding-top: 30px;
}

.lots__look-more-link {
  font-size: 20px;
  text-decoration: none; 
  border-bottom: 1px black solid;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

                            /* 3 секция */
.about {
  display: grid;
  grid-template-columns: 359px 693px; /* 2 колонки */
  width: 1052px;
  margin-top: 120px;
  padding-bottom: 5px;
}

.logo-column {
  width: 150px;
  margin-top: 59px;
  margin-left: 45px;
}

.logo__about-column {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  margin-left: 70px;
  margin-top: 34px;
}

.about__title {
  padding-top: 133px;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.description_block {
  font-size: 20px;
  padding-top: 102px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  gap: 30px; /* Равномерные отступы между всеми дочерними элементами */
}

.about_column {
  padding-left: 23px;
}

                            /* footer */
.footer {
  width: 1100px;
  padding-bottom: 85px;
  margin-top: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  justify-content: center;
  font-size: 18px;
}

.menu_footer {
  text-align: center;
}

.button_footer-div {
  padding-left: 25px;
  display: flex;
  justify-content: center;
  gap: 45px;
  list-style-type: none;
}

.social_network-img {
  align-items: center;
  width: 50px;
  min-height: 48px;
}

.footer__menu-list-item {
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.footer__cont-list-item {
  padding-left: 50px;
}


.contacts_footer {
  width: 290px;
}

.contacts_footer-ul {
  line-height: 1.3;
}
