/* проверка скролла
* {
    outline: solid 1px red !important;
} */

                            /* header */
.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 18px;
}

.menu {
  padding-left: 50px;
}

.header__links-list {
  display: flex;
  gap: 32.4px;
  list-style: circle;
}

.header__links-list-item {
  text-decoration: none; 
  border-bottom: 1px black solid;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  width: 135px;
  height: 108px;
}

.contacts {
  padding-left: 195px;
  padding-bottom: 10px;
  
}

.spisok_contacts {
  list-style-type: none;
  font-style: normal;
  line-height: 1.3;
}

.spisok_contacts_underline {
  text-decoration: none; 
  border-bottom: 1px black solid;
}


                            /* 1 секция */
.cover {
  position: relative;
  background: url("../images/cover.jpg") no-repeat center / cover;
  width: 1100px;
  height: 757px;
  z-index: 0;
}

.cover::after {
  /* затемнение фона */
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.cover__title {
  font-family: "Raleway-Bold", sans-serif;
  letter-spacing: 30px;
  color: white;
  font-size: 100px;
  text-transform: uppercase;
}

.title__cover_ono {
  position: absolute;
  top: 164px;
  left: 50px;
}

.title__cover_tebe {
  position: absolute;
  top: 300px;
  left: 380.5px;
}

.title__cover_nado {
  position: absolute;
  top: 435px;
  left: 663px;
}

.description {
  position: absolute;
  font-family: "Raleway-Regular", sans-serif;
  width: 1000px;
  height: 51px;
  bottom: 50px;
  left: 50px;
  text-transform: uppercase;
  color: white;
  display: grid;
  grid-template-columns: auto auto;
}

.text_description {
  text-transform: uppercase;
  color: #ffffff;
  word-spacing: 19.5px;
  font-size: 22px;
}

.text_description-div {
  padding-top: 13px;
  justify-self: start;
  
}

.button_section-div {
 justify-self: end;
}

.button_section {
  color: white;
  padding-left: 31px;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 11px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 22px;
  text-align: center;
}

                            /* 2 секция */
.lots {
  width: 1052px;
  padding-top: 170px;
  margin: 0 auto;
}

.lots__heading {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 50px;
  padding-left: 40px;
  padding-bottom: 27px;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 334px); /* 3 колонки */
  gap: 25px;
  position: relative;
  z-index: 0;
}

.lots__card-list {
  list-style-type: none;
}

.card_type_film {
  position: relative;
  background: url(../images/card-lot-01.jpg) no-repeat center / cover;
  width: 334px;
  height: 596px;
  z-index: 0;
}

.card_type_film::after {
  /* затемнение фона */
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.card_type_book {
  position: relative;
  background: url(../images/card-lot-02.jpg) no-repeat center / cover;
  width: 334px;
  height: 596px;
  z-index: 0;
}

.card_type_book::after {
  /* затемнение фона */
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.card_type_picture {
  position: relative;
  background: url(../images/card-lot-03.jpg) no-repeat center / cover;;
  width: 334px;
  height: 596px;
  z-index: 0;
}

.card_type_picture::after {
  /* затемнение фона */
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.lots__card-list_article {
  position: relative;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
  margin-right: 40px;
  color: white;
}

.card__title {
  width: 254px;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Raleway-Bold", sans-serif;
}

.card__text {
  position: absolute;
  bottom: 48px;
  line-height: 1.2;
  font-size: 20px;
  font-family: "Raleway-Regular", sans-serif;
  width: 254px;
}

.lots__look-more-link_div {
  padding-left: 39px;
  padding-top: 30px;
}

.lots__look-more-link {
  font-size: 20px;
  text-decoration: none; 
  border-bottom: 1px black solid;
  font-family: "Raleway-Regular", sans-serif;
}

                            /* 3 секция */
.about {
  display: grid;
  position: relative;
  grid-template-columns: 359px 693px; /* 2 колонки */
  width: 1052px;
  height: 595px;
  margin-top: 120px;
}

.logo-column {
  position: absolute;
  left: 107px;
  top: 99px;
  align-items: center;
  width: 160px;
  height: 112.55px;
  position: absolute;
  padding-left: 10px;
}

.logo__about-column {
  position: absolute;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  left: 70px;
  top: 34px;
}

.about_column {
  width: 700px;
  height: 449px;
  padding-left: 25px;
}

.about__title {
  padding-top: 133px;
  font-size: 40px;
  font-family: "Raleway-Bold", sans-serif;
  text-transform: uppercase;
}

.description_block {
  position: absolute;
  font-size: 20px;
  padding-top: 50px;
  font-family: "Raleway-Regular", sans-serif;
}

.about__text_invaluable {
  padding-top: 52px;
  line-height:1.2;
}

.about__text_unrecognized {
  width: 688px;
  padding-top: 24px;
  line-height:1.2;
}

                            /* footer */
.footer {
  width: 1100px;
  height: 180px;
  margin-top: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  justify-content: center;
  font-size: 18px;
}

.menu_footer {
  text-align: center;
}

.button_footer-div {
  padding-left: 25px;
  display: flex;
  justify-content: center;
  gap: 36px;
}

.social_network {
  align-items: center;
  width: 60px;
  height: 48px;
  background: none;
  border: none;
}

.footer__menu-list-item {
  list-style-type: none;
  font-family: "Raleway-Regular", sans-serif;
}

.footer__cont-list-item {
  padding-left: 50px;
  list-style-type: none;
  font-family: "Raleway-Regular", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__menu-list-item-pod {
  text-decoration: none; 
  border-bottom: 1px black solid;
}

.contacts_footer {
  width: 290px;
}

.contacts_footer-ul {
  line-height: 1.3;
}